<h1 id="home">Welcome, <%= @user.fname %>!</h1>

<div id="right_column">
	<div id="profile_photo">
		<img src="images/default-profile-pic.png" width="200" height="300">

	</div>
	<div id="link_box">
		<a href="/account" class="link_box">Account Settings</a>
		<a href="/new-post">Create a New Twit</a><br>
		<a href="/delete-post">Delete a Twit</a>
	</div>
	<div id="followers">
		<h3>Followers:</h3>
		<% @users.each do |users| %>
		<ul>
			<li><a href="/profile/<%= users.id %>"><%= users.username %></a></li>
		</ul>
		<% end %>
	</div>
</div>
<div id="left_column">
	<h1 id="live_feed">Live Feed</h1>
	<div id="feed_box">
		<% @posts.each do |post| %>
			<div id="userposts">
				<h3 id="username"><%= post.user.username %></h3>
				<h4 class="twit"><%= post.title %></h4>
				<h4 class="twit"><i><%= post.body %></i></h4>
				<h5 id="date"><%= post.created_at %></h5>
			</div>
			<br>
		<% end %>
	</div>
</div>
